.RollDice{
  display: flex;
  flex-direction: column;
  align-items: center;


  &__Dice{
    display: flex;
    justify-content: center;
  }


&__button{
  width: 15em;
  padding: 1.5em;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  background-color: #E32448;
  margin-top: 3rem; 


  &::hover{
    background-color: rgb(230, 66, 96);
    cursor: pointer;
  }
}
}

.shaking{
  animation-name: shake;
  animation-duration: 1s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-3px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}